body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#99C143;
}

header {
    background-color:white;
    color: white;
    padding: 20px 0; /* Espacio extra arriba y abajo del header */
    margin-top: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   
    margin-bottom: 0px; /* Espacio extra debajo del contenedor del logo */
}

.logo {
    height: 60px;
}

.social-icons {
  
    display: flex;
    gap: 30px; /* Espacio entre los iconos de redes sociales */
}

.social-icons img{
    width: 40px;
    height: 40px;
}

.social-icons a {
    display: inline-block;
}

nav {
    background-color:#426B1F;
    padding: 20px 20px; /* Espacio extra dentro del nav */
    margin-top: 20px; /* Espacio entre el contenedor y el menu */
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    padding: 10px 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 20px;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .header-top {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 20px; /* Espacio entre el logo y las redes sociales */
    }

    .social-icons {
        margin-bottom: 20px; /* Espacio entre las redes sociales y el menú */
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu li {
        text-align: center;
        padding: 15px 0;
        font-weight: bold;
    }

    #menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}
.menu a:hover {
    color:#01305A; /* Cambia el color del texto al pasar el mouse */
    transform: scale(2.5); /* Aumenta el tamaño del texto al pasar el mouse */
}


.servicio{
    margin-top: 20px;
    width: 100%;
    height: auto;
}



.contenedor {

    left:13.5vw ;
    margin-top: 30px;
    width: 100% ;
    max-width: 1309px; /* Ajusta el ancho máximo del contenedor */
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap; /* Permite que las filas se ajusten automáticamente */
    position: relative;
   
}

.fila {
    width: 100%;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos horizontalmente */
    margin-bottom: 20px;
}

.columna {
    width: 45%; /* Ancho de las columnas ajustado */
    margin-bottom: 20px;
}

.servicio {
  
    border-radius: 5px;
    overflow: hidden;
}

.servicio img {
    width: 100%;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.titulo-servicio {
    color: #01305A; /* Color de texto azul turquesa para el título */
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
    background-color: transparent;
    font-weight: bold;
}

.ver-mas-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color:#01305A ; /* Fondo azul para el contenedor de Ver más */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ver-mas {
    background-color:#01305A  ; /* Fondo azul para el botón Ver más */
    color: white; /* Color de texto blanco para el botón Ver más */
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ver-mas:hover {
    background-color: #01305A; /* Color de fondo cuando se pasa el ratón */
}

.circulo-flecha {
    width: 30px;
    height: 30px;
    background-color: #F4DE12; /* Fondo azul para el círculo */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #01305A ;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.circulo-flecha:hover {
    background-color: #99C143; /* Color de fondo cuando se pasa el ratón */
}



.descripcion-caja {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.descripcion-servicio {
    font-size: 0.9em;
    color: #555;
    text-align: justify;
    line-height: 1.5;
}

.descripcion-caja.active {
    max-height: 200px; /* Altura máxima para la descripción cuando está expandida */
}


@media(max-height:700px){
    .contenedor{
        flex-direction: column;
        align-items: center;
        left: 30vw;
        width: 100%;
        text-align: center;
    }
}


/*piE dE pagina */

.pie-de-pagina {
    background-color: #01305A;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .seccion-pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 1;
  }
  
  .contenedor-iconos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: -70px; /* Ajuste de margen a la izquierda */
  }
  
  .item-icono {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .item-icono a:first-child {
    margin-right: 10px;
  }
  
  .item-icono img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  
  .item-icono a {
    text-decoration: none; /* Eliminar subrayado */
    color: white; /* Asegurar color adecuado */
  }
  
  .redes-pie {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -70px; /* Ajuste de margen a la izquierda */
  }
  
  .redes-pie a {
    margin: 0 10px;
  }
  
  .redes-pie img {
    width: 40px;
    height: 40px;
  }
  
  .mapa-pie {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden; /* Para asegurar que el mapa no desborde en pantallas pequeñas */
    position: relative;
    
  }
  
  .mapa-pie iframe {
    width: 700px; /* Ancho del mapa */
    height: 300px; /* Alto del mapa */
    border: 0;
    transform: translateX(-50%); /* Centrar el mapa horizontalmente */
    position: relative;
    left: 50%;
  
    
    
  }
  
  @media (max-width: 768px) {
    .pie-de-pagina {
        flex-direction: column;
        align-items: center;
    }
  
    .seccion-pie {
        width: 100%;
        align-items: center; /* Centrar elementos en pantallas pequeñas */
        text-align: center; /* Alinear texto al centro en pantallas pequeñas */
    }
  
    .contenedor-iconos,
    .redes-pie {
        margin-left: 0; /* Eliminar el margen izquierdo en pantallas pequeñas */
    }
  
    .item-icono img,
    .redes-pie img {
        width: 30px;
        height: 30px;
    }
  
    .item-icono a {
        font-size: 16px;
    }
  
    .mapa-pie iframe {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        height: 300px;
        transform: none; /* Eliminar la transformación para centrado en pantallas pequeñas */
        left: auto;
    }
  }