body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:#99C143;
}

header {
  background-color:white;
  color: white;
  padding: 20px 0; /* Espacio extra arriba y abajo del header */
  margin-top: 20px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
 
  margin-bottom: 0px; /* Espacio extra debajo del contenedor del logo */
}

.logo {
  height: 60px;
}

.social-icons {

  display: flex;
  gap: 30px; /* Espacio entre los iconos de redes sociales */
}

.social-icons img{
  width: 40px;
  height: 40px;
}

.social-icons a {
  display: inline-block;
}

nav {
  background-color:#426B1F;
  padding: 20px 20px; /* Espacio extra dentro del nav */
  margin-top: 20px; /* Espacio entre el contenedor y el menu */
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.menu li {
  padding: 10px 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px 20px;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .header-top {
      flex-direction: column;
      align-items: center;
  }

  .logo {
      margin-bottom: 20px; /* Espacio entre el logo y las redes sociales */
  }

  .social-icons {
      margin-bottom: 20px; /* Espacio entre las redes sociales y el menú */
  }

  .menu {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .menu li {
      text-align: center;
      padding: 15px 0;
      font-weight: bold;
  }

  #menu-toggle:checked + .menu-icon + .menu {
      display: flex;
  }

  .menu-icon {
      display: block;
  }
}
.menu a:hover {
  color:#01305A; /* Cambia el color del texto al pasar el mouse */
  transform: scale(2.5); /* Aumenta el tamaño del texto al pasar el mouse */
}

/*nosotros*/

.contenedor {
  background-color: #ffffff; /* Fondo blanco */

  border-radius: 12px; /* Borde redondeado */
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
  overflow: hidden; /* Evita que el contenido sobresalga */
}

.doctora {
  background-color: #ffffff; /* Fondo blanco */

 
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten al tamaño */
}

.doctora img {
  width: 200px; /* Ancho de la imagen de la doctora */
  border-radius: 50%; /* Borde redondeado */
  margin-right: 20px; /* Margen derecho */
}

.texto {
  flex: 1; /* Ocupa el espacio restante */
  text-align: justify; /* Justifica el texto */
}

.texto h1,
.texto h2,
.texto p {
  margin: 0; /* Elimina el margen predeterminado */
  text-align: center;
  
}

.mision-vision {
  display: flex;
  flex-direction: column; /* Cambia a disposición vertical */
  align-items: center; /* Centra los elementos */
}

.contenido {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido */
  background-color: #ffffff; /* Fondo blanco */
  border: 20px solid #99C143; /* Borde verde */
  border-radius: 12px; /* Borde redondeado */
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
  text-align: justify; /* Justifica el texto */
}

.contenido > div {
  flex: 1; /* Ocupa el espacio disponible */
}

.contenido h2 {
  margin-bottom: 10px; /* Espacio inferior para los títulos */
color: #01305A;
text-align: center;
}

.contenido p {
  margin: 0; /* Elimina el margen predeterminado */
  line-height: 1.6; /* Altura de línea */
  text-align: justify; /* Justifica el texto */
  text-align: center;
}

.contenido img {
  max-width: 100%; /* Ancho máximo de la imagen */
  margin-left: 20px; /* Margen izquierdo */
}

.img1 {
  max-width: 100%; /* Ancho máximo de la imagen de Misión */
  margin-top: 20px; /* Espacio superior entre Misión y Visión */
}

.img2 {

  height: 400px;
  width: 400px; /* Ancho de la imagen de Visión */
  margin-top: 20px; /* Espacio superior entre Misión y Visión */
  align-self: flex-end; /* Alineación a la derecha */
  left: 20px;
}

@media (max-width: 768px) {
  .doctora {
      flex-direction: column; /* Cambia a disposición vertical en pantallas pequeñas */
  }

  .doctora img {
      margin: auto; /* Centra la imagen en pantallas pequeñas */
  }

  .mision-vision {
      flex-direction: column; /* Cambia a disposición vertical en pantallas pequeñas */
  }

  .contenido img {
      margin-top: 20px; /* Espacio superior adicional entre imágenes en pantallas pequeñas */
      margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }
}
