body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#99C143;
}

header {
    background-color:white;
    color: white;
    padding: 20px 0; /* Espacio extra arriba y abajo del header */
    margin-top: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   
    margin-bottom: 0px; /* Espacio extra debajo del contenedor del logo */
}

.logo {
    height: 60px;
}

.social-icons {
  
    display: flex;
    gap: 30px; /* Espacio entre los iconos de redes sociales */
}

.social-icons img{
    width: 40px;
    height: 40px;
}

.social-icons a {
    display: inline-block;
}

nav {
    background-color:#426B1F;
    padding: 20px 20px; /* Espacio extra dentro del nav */
    margin-top: 20px; /* Espacio entre el contenedor y el menu */
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    padding: 10px 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 20px;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .header-top {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 20px; /* Espacio entre el logo y las redes sociales */
    }

    .social-icons {
        margin-bottom: 20px; /* Espacio entre las redes sociales y el menú */
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu li {
        text-align: center;
        padding: 15px 0;
        font-weight: bold;
    }

    #menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}
.menu a:hover {
    color:#01305A; /* Cambia el color del texto al pasar el mouse */
    transform: scale(2.5); /* Aumenta el tamaño del texto al pasar el mouse */
}


/*contacto*/
.contacto-container {
    position: relative;
    display: flex;
    top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    width: 1200px;
    text-align:center ;
    left: 16vw;
}


.contacto-info
.formulario-contacto {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff; /* Fondo blanco */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(120, 241, 7, 0.1); /* Sombra ligera */
    margin-right: 20px; /* Espacio entre las cajas */
    max-width: 100%; /* Ancho máximo de la caja de texto */
}

.dr{
    height: 40px;
    width: 40px;

    margin-right: 21vw;
}

.texto1{
    position: relative;
    text-align: justify;
     top: -20px;
     left: 30px;
}

.direccion{
    color: #01305A;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right:130px;
}

.Carrera{
    position: relative;
    right: 130px;
}

.t{
    color: #01305A;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -6vw;
    left: 140px;
}

.N{
    position: relative;
    top: -6vw;
    left: 138px;
}
.ha{
    color:#01305A;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -5vw;
}
.ser{
    position: relative;
    top: -6vw;
}

.h2{
    position: relative;
    top: 60px;
    right: 12px;
}

h2{
    color: #01305A;
    font-size: 30px;
    margin-right: 10vw;
    position: relative;
}
.contacto-info h2,
.formulario-contacto h2 {
    text-align: center;
    margin-bottom: 20px; /* Espacio bajo el título del formulario */
}

.contacto-texto {
    margin-top: 20px;
}

.contacto-direccion-telefonos {
    margin-top: 20px;
}


.form-group {
    margin-bottom: 15px;
    width: 25vw;
    position: relative;
    margin-left: 26px;
}

.form-group input{
    background-color: #01305A;
  
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    
}
::placeholder{
    color:#fff;
}

.form-group textarea {
    height: 100px; /* Altura del área de texto */
}

.form-group button {
   position: relative;

    background-color: #99C143; 
    color: #01305A; /* Texto azul */
    padding: 10px 20px;
    border: 2px solid #01305A; /* Borde azul */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 50%;
   left: 30px;

}

/* Estilos responsivos */
@media (max-width: 768px) {
    .contacto-container {
        flex-direction: column;
    }

    .contacto-info,
    .formulario-contacto {
        width: 100%;
        margin-right: 0; /* Reiniciar el margen derecho en dispositivos pequeños */
    }
}