

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#99C143;
  }
  
  header {
    background-color:white;
    color: white;
    padding: 20px 0; /* Espacio extra arriba y abajo del header */
    margin-top: 20px;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   
    margin-bottom: 0px; /* Espacio extra debajo del contenedor del logo */
  }
  
  .logo {
    height: 60px;
  }
  
  .social-icons {
  
    display: flex;
    gap: 30px; /* Espacio entre los iconos de redes sociales */
  }
  
  .social-icons img{
    width: 40px;
    height: 40px;
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  nav {
    background-color:#426B1F;
    padding: 20px 20px; /* Espacio extra dentro del nav */
    margin-top: 20px; /* Espacio entre el contenedor y el menu */
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    padding: 10px 20px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  #menu-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .header-top {
        flex-direction: column;
        align-items: center;
    }
  
    .logo {
        margin-bottom: 20px; /* Espacio entre el logo y las redes sociales */
    }
  
    .social-icons {
        margin-bottom: 20px; /* Espacio entre las redes sociales y el menú */
    }
  
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
  
    .menu li {
        text-align: center;
        padding: 15px 0;
        font-weight: bold;
    }
  
    #menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }
  
    .menu-icon {
        display: block;
    }
  }
  .menu a:hover {
    color:#01305A; /* Cambia el color del texto al pasar el mouse */
    transform: scale(2.5); /* Aumenta el tamaño del texto al pasar el mouse */
  }
.crearusuario h5{
    font-weight: bold;
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    
    font-size: 20px;
    
}

.img{
   width:300px;
   height: 100px;
   left: 20px;
}

.crearusuario{
    width: 400px;
    height: 600px;
    background-color: white;
    margin: auto;
    margin-top: 35px;
    box-shadow: 7px 13px 37px #01305A;
    padding: 10px 30px ;
    border-top: 4px solid #01305A;
    border-radius: 10px;
    

}

.control{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #01305A;
    display: block;
    padding:11px 2px;
    border-radius: 10px;
    
}

.btn{
    width:406px;
    height: 40px;
    padding: 11px 2px;
    background-color: #01305A;
    color: white;
    font-size:15px;  
    border-radius: 10px;   
}

/*Pie de Pagina*/


/*piE dE pagina */

.pie-de-pagina {
  position: relative;
  background-color: #01305A;
  top: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seccion-pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  flex: 1;
}

.contenedor-iconos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: -70px; /* Ajuste de margen a la izquierda */
}

.item-icono {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.item-icono a:first-child {
  margin-right: 10px;
}

.item-icono img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.item-icono a {
  text-decoration: none; /* Eliminar subrayado */
  color: white; /* Asegurar color adecuado */
}

.redes-pie {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: -70px; /* Ajuste de margen a la izquierda */
}

.redes-pie a {
  margin: 0 10px;
}

.redes-pie img {
  width: 40px;
  height: 40px;
}

.mapa-pie {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden; /* Para asegurar que el mapa no desborde en pantallas pequeñas */
  position: relative;
  
}

.mapa-pie iframe {
  width: 700px; /* Ancho del mapa */
  height: 300px; /* Alto del mapa */
  border: 0;
  transform: translateX(-50%); /* Centrar el mapa horizontalmente */
  position: relative;
  left: 50%;

  
  
}

@media (max-width: 768px) {
  .pie-de-pagina {
      flex-direction: column;
      align-items: center;
  }

  .seccion-pie {
      width: 100%;
      align-items: center; /* Centrar elementos en pantallas pequeñas */
      text-align: center; /* Alinear texto al centro en pantallas pequeñas */
  }

  .contenedor-iconos,
  .redes-pie {
      margin-left: 0; /* Eliminar el margen izquierdo en pantallas pequeñas */
  }

  .item-icono img,
  .redes-pie img {
      width: 30px;
      height: 30px;
  }

  .item-icono a {
      font-size: 16px;
  }

  .mapa-pie iframe {
      width: 100%; /* Ancho completo en pantallas pequeñas */
      height: 300px;
      transform: none; /* Eliminar la transformación para centrado en pantallas pequeñas */
      left: auto;
  }
}